:root {
  --orange: #e38f0e;
  --darkgray: #303030;
  --white: white;
}

body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.header {
  font-size: 52pt;
  font-family: sans-serif;
  color: var(--orange);
  font-weight: 600;
}

p {
  color: var(--white);
}

h2, h1 {
  color: var(--orange);
  text-align: center;
  font-size: 22pt;
}

form {
  display: inline-block;
  width: 750px;
  height: 750px;
  text-decoration: none;
  outline: none;
}

.form-title, .form-author, .form-tags {
  font-family: sans-serif;
  width: 386px;
  padding: 12px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 0px;
  resize: none;
  border: none;
  background: #151515;
  font-size: 11pt;
  color: white;
  font-weight: 600;
  outline: none;
}

.form-content {
  font-family: sans-serif;
  width: 386px;
  padding: 12px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 0px;
  max-width: 386px;
  min-width: 386px;
  border: none;
  background: #151515;
  font-size: 11pt;
  color: white;
  height: 130px;
  font-weight: 600;
  text-decoration: none;
  outline: none;

}

::placeholder {
  color: #505050;
}

.button {
  font-family: sans-serif;
  width: 410px;
  height: 40px;
  background: var(--orange);
  border-radius: 4px;
  border: none;
  margin-top: 6px;
  font-weight: 600;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

.nav, a, ul {

  font-size: 14pt;
  padding: 10px;
}